body
{
	background-color:#FFFFFF;
	color:#000000;
	font: 20px bold ariel,sans-serif;
}
p
{
	color:#000000;
}

a
{
	color:#FF0000;
        text-decoration: none;
}
div
{
        border-style:solid;
        border-width:1px;
	padding:10px;
        margin:10px;
}
#leftsidebar
{
        float:left;
        width:20%;
}
#rightsidebar
{
	float:right;
        width:20%;
}

#page_content
{
        float:left;
}
#page_footer
{
	clear:both;
}
#page_user
{
	float:right;
		position:relative;
	top:-100px
}
#post{
	border-style:solid;
        border-width:1px;
	padding:10px;
        margin:10px;
}
