<HTML>
  <HEADER><TITLE>ShareIt!</TITLE></HEADER>
  
  <head>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
{% extends 'shareit/base-bootstrap.html' %}
<BODY>
{% block content %}
<form id="myForm" method="post" action="/shareit/category/">
	 {% csrf_token %}
	  	<input id="b1" value="<--Back To Categories" name="submit" type="submit"/>	
	</form>

<H2> {{cat_name}}</H2>
{% if posts_list %}
{% for post in posts_list %}
<br/>
<br/>
<LI><a href="/shareit/profiles/{{post.userProfile}}">{{post.userProfile}} says:</a></LI>
{{post}}
{%endfor%}
{% else %} 
	<p>Nothing posted in this Category yet :(</p>
{% endif %}
{% endblock %}
{% block rightsidebar %}
			
			<!-- Drop down for categoryFiler-->
			<label>Show posts by:</label>
			<div class="btn-group" id="drop">
				<select id="filterUser" name="userFilter">			
				<option value="E">Everyone</option>
				<option value="F">Following</option>
				</select>
	  		</div>	
			
			{% endblock %}
</BODY>
</HTML>
