<HTML>
  <HEADER><TITLE>ShareIt!</TITLE></HEADER>
  
  <head>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  
  <BODY>
	
	{% extends 'shareit/base-bootstrap.html' %}
	
	
	
	{% block content %}
	
	<!-- This is the code for the text box for users to share their posts -->
	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript">

	  $(document).ready(function() {
      		//$("#b1").click(function(){
      		//var value = $("#t1").val();
      		//$("#post").html(value);
     		
      	  });
      $("#t1").animate({"height": "150px", "width": "500px"}, "fast" );
	  });
	  function changeFocus(id){
      var v = "#" + id;
      $(v).focus();
	  }
	</script>

	<form id="myForm" method="post" action="/shareit/add_post/">
	 {% csrf_token %}
      		<textarea id="t1" type="text" value="This is a TextBox"></textarea>
      		<br/><br/>
	  	<div class="btn-group" id="drop">
			<button class="btn">Category</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
		  	<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
		  	{% for cat in cat_list %}
		  	<LI><A HREF="/shareit/cat/{{cat.name}}">{{cat.name}}</A></LI>
		  	{% endfor %}
			</ul>
	  	</div>
	  
	  	<input id="b1" value="ShareIt!" type="submit"/>
		<br/><br/>
		<label>{{user.username}}: </label><label id="post"></label>
		<br/><br/>
	</form>


<h5> POSTS </h5>
{% if posts_list %}
{% for post in posts_list %}
<br/>
<br/>
{% if post.userProfile.picture %}
<a href="/shareit/profiles/{{post.userProfile}}"><img  src="{{STATIC_URL}}{{ post.userProfile.picture }}" width="30" height="40" /> <a/>
{% else %}
<img src="{{STATIC_URL}}imgs/nophoto.jpg" width="30" height="40"/>
{%endif%}
<a href="/shareit/profiles/{{post.userProfile}}">{{post.userProfile}} says:</a>
{{post}}
{%endfor%}
{%endif%}
{% endblock %} 


</BODY>
</HTML>
