<HTML>
<HEADER><TITLE>ShareIt!</TITLE></HEADER>

<head>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<BODY>

{% extends 'shareit/base.html' %}

{% block sidebar %}

	<H2>Menu</H2>
	<UL><LI><a href="/shareit/">Home</a> </LI>
	<LI> <a href="/shareit/profile/">My Profile</a></LI>
	<LI> <a href="/shareit/category/">All Categories </a> </LI>
	<LI> My Categories</LI>
	<LI> Most Popular</LI>
	<LI> Least Popular</LI>
	<LI> <A href="/shareit/followers/">Followers</A> </LI>
	<LI> <a href="/shareit/following/">Following </a> </LI></UL>

{% endblock %}

{% block content %}

<!-- This is the code for the text box for users to share their posts -->

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#b1").click(function(){
        var value = $("#t1").val();
        $("#post").html(value);
        return false;
    });
    $("#t1").animate({"height": "150px", "width": "500px"}, "fast" );
});
function changeFocus(id){
    var v = "#" + id;
    $(v).focus();
}
</script>
 <form id="myForm" method="post" action="">
    <textarea id="t1" type="text" value="This is a TextBox"></textarea>
    <br/><br/>
<!-- drop down menu for categories-->
    <select id="cat">
	{% for cat in cat_list %}
		<option value="None">Category</option>
		<option value="cat1">{{cat.name}}</option>
	{% endfor %}
   </select>
    <input id="b1" type="button" value="ShareIt!"/>
    <br/><br/>
    <label>{{user.username}}: </label><lable id="post"></lable>
    <br/><br/>
 </form>


{% endblock %} 

{% block rightsidebar %}

<!-- drop down menu for filter-->
	<H4> Filter By: </H4>
    <select id="filter">
	<option value="None">Filter</option>
   </select>

	<br/><br/>

<!-- drop down menu for Post-filter-->
	<H4> Posts By: </H4>
	<select id="postfilter">
		<option value="None">Everyone</option>
		<option value="None">Following</option>
	</select>

{% endblock %}

</BODY>
</HTML>
