{% extends 'shareit/base-bootstrap.html' %}

{% block content %}
	<!-- Add the check! .. If not following user, show button. If they are, hide button-->
	{% ifnotequal  currentUser user1.username %}
	{% if user1.id in followingList %}
	<p align="right"><a href="/shareit/unfollowUser/{{user1.username}}" class="btn btn-info btn-small"><i class="icon-white icon-plus"></i> Unfollow </a></p>
	{% else %}
	<p align="right"><a href="/shareit/followUser/{{user1.username}}" class="btn btn-info btn-small"><i class="icon-white icon-plus"></i> Follow </a></p>
	{% endif%}
	{% endifnotequal%}
	<h3> {{user1.username }}'s house on ShareIT!</h3>
	{% if picture %}
	<img src="{{STATIC_URL}}{{picture}}" width="200" height="150"/>
	{% else %}
	<img src="{{STATIC_URL}}imgs/nophoto.jpg" width="200" height="150"/>
	No profile photo yet :(
	{% endif %}
	<p>username: {{ user1.username }}</p>
	<p> Email: {{ user1.email }}</p>
	<br/>
	<h4> {{user1.username}}'s Posts </h4>
	{% if posts_list %}
	{% for post in posts_list %}
	<br/>
	<LI><a href="/shareit/profiles/{{post.userProfile}}">{{post.userProfile}} says:</a></LI>
	{{post}}
	{%endfor%}
	{% else %}
	<p> {{user1.username}} has not posted anything yet :( Try again later .. </p>
	{% endif %}


{% endblock %}

{% block rightsidebar %}

	<!-- Drop down for categoryFiler-->
	<label>Filter posts by:</label>
	<div class="btn-group" id="drop">
		<select id="filterCat" name="catFilter">
		<option value="">-- No Filter --</option>
		{% for cat in cat_list %}
			<option value="catid">{{cat.name}}</option>
		{% endfor %}
		</select>
	  </div>	

{% endblock %}
