
{% extends 'shareit/base-bootstrap.html' %}
{% block content %}
{% if registered %}
<center>
	<A href="/shareit/">Thanks for registering with share.it. </A>
</center>
	<p>
		<center>
				<a href="/shareit/login" class="btn btn-primary btn-large">
				  Log in!
				</a>
				</center>
			  </p>
{% else %}
	<h3>Register Here!</h3>
	<FORM id="user_form" method="post" action="/shareit/register/">
		{% csrf_token %}
		{{ uform.as_p }}
		{{ pform.as_p }}
		<INPUT type="Submit" name="Submit" value="Submit" />
	</FORM>
{% endif %}
{% endblock %}
